@media (min-width: 1281px) {
  
  
}


@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}


@media (min-width: 768px) and (max-width: 1024px) {
  
  
}


@media (min-width: 481px) and (max-width: 767px) {
  
.container.center-to-body {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 50px auto 30px;
}

p.i-m {
    text-align: center;
}

h1.name-of-player.first-name {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

p.player-information {
    text-align: center;
}

h2.info-more.title {
    font-size: 28px;
}

h2.h2-heading.stats {
    font-size: 28px;
    margin-top: 50px;
}

.icons-social-icons {
    font-size: 25px;
    text-align: center;
    display: table;
    margin: 20px auto;
}
  
}



@media (min-width: 320px) and (max-width: 480px) {
  
.container.center-to-body {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 50px auto 30px;
}

p.i-m {
    text-align: center;
}

h1.name-of-player.first-name {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

p.player-information {
    text-align: center;
}

h2.info-more.title {
    font-size: 28px;
}

h2.h2-heading.stats {
    font-size: 28px;
    margin-top: 50px;
}

.icons-social-icons {
    font-size: 25px;
    text-align: center;
    display: table;
    margin: 20px auto;
}
  
}